PORT=3000
NODE_ENV=development

MONGO_URI=mongodb+srv://<DB_USER>:<DB_PASSWORD>@mlhub.lusg3q7.mongodb.net/sellersync?retryWrites=true&w=majority&appName=mlhub

JWT_SECRET=troque_por_uma_chave_segura_aqui

ML_APP_ID=
ML_CLIENT_SECRET=
ML_REDIRECT_URI=http://localhost:3000/auth/mercadolivre/callback

FRONTEND_URL=http://localhost:4200
